body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Barrio', cursive;
    font-size: 55px;
    margin: 36px auto 0px auto;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}

#sign-in {
    
}

#create-account {

}

#an-app-text {
    font-family: Avenir;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    text-transform: uppercase;
}
