body {
    background-image: url("../images/caleb-george-pH88tHG-1yw-unsplash.jpg");
    background-size: cover;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Barrio', cursive;
    font-size: 55px;
    margin: 36px auto 0px auto;
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}

#an-app-text {
    font-family: Avenir;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    text-transform: uppercase;
}

#sign-up-modal, #login-modal {
    margin-top: ;
}