body {
    background-image: url("../images/caleb-george-pH88tHG-1yw-unsplash.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    color: black;
}

h3 {
    text-align: center;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}

#login-button, #sign-up-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 231, 235);
    border-color: rgb(255, 231, 235);
}

#an-app-text {
    font-family: Avenir;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    text-transform: uppercase;
}

#login-here-anchor {
    border-color: white;
    background-color: rgb(91, 91, 91);
    font-size: 13px;
    color: white;
    border-radius: 10px;
    margin: 10px auto 0px 13px;
    padding: 5px 7px;
}